$primary-color: #64ff00;
:export {
  primaryColor: $primary-color;
}
.main {
  padding: 10rem, 10rem;
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
